<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='w4.css') }}/>
  </head>
  <body>
    <header>
      <div class="head">
        <div class="title">歡迎光臨，這是會員頁</div>
      </div>
    </header>
    <div class="signin_title">
      <div>{{name}}，歡迎登入系統</div>
    </div>
    <div class="lg">
      <a href="/logout">登出系統</a>
    </div>
  </body>
</html>
